/*
 * Copyright (C) 2022 Christopher R. Bowman. All rights reserved.
 * contact: <my initials>@ChrisBowman.com
 *
 * Digilent ARTY Z7 board DTS overlay for
 * axi memory mapped seven segment display interface
 *
 */
 
/dts-v1/;
/plugin/;

/ {
	compatible = "xlnx,zynq-7000";
};

# &{/axi} {
# 	gpio0: gpio@e000a000 {
# 		compatible = "xlnx,zy7_gpio";
# 		#gpio-cells = <2>;
# 		clocks = <&clkc 42>;
# 		gpio-controller;
# 		interrupt-controller;
# 		#interrupt-cells = <2>;
# 		interrupt-parent = <&intc>;
# 		interrupts = <0 20 4>;
# 		reg = <0xe000a000 0x1000>;
# 	};
# };

&{/axi/gpio@e000a000}  { compatible = "xlnx,zy7_gpio"; };

# NOT WORKING
# &gpio0  { compatible = "xlnx,zy7_gpio"; };
